{% extends 'core/profile.html' %}

{% block profileTitle %}Informações Pessoais{% endblock profileTitle %}

{% block profileFormContent %}
  <form id="{{ form_id }}" action="{{ form_action }}" class="form-content" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
      <div class="form-content form-content-grid">
        <div class="form-group">
          <div class="message message-error">
            Há erro no preenchimento do formulário, por favor verifique os campos
            e tente novamente.
          </div>
        </div> 
      </div>
    {% endif %}
    <div class="md:grid grid-cols-2 gap-3">
      <!-- Picture Field -->
      <div class="col-span-2">
        <label for="{{ form.picture.id_for_label }}">{{ form.picture.label }}</label>
        {{ form.picture }}
        {% if form.picture.help_text %}
          <p>{{ form.picture.help_text }}</p>
        {% endif %}
        {{ form.picture.errors }}
      </div>
      <!-- First Name Field -->
      <div class="">
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        {{ form.first_name }}
        {% if form.first_name.help_text %}
          <p>{{ form.first_name.help_text }}</p>
        {% endif %}
        {{ form.first_name.errors }}
      </div>
      <!-- Last Name Field -->
      <div class="">
        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        {{ form.last_name }}
        {% if form.last_name.help_text %}
          <p>{{ form.last_name.help_text }}</p>
        {% endif %}
        {{ form.last_name.errors }}
      </div>
      <!-- Mail Field -->
      <div class="col-span-2">
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email }}
        {% if form.email.help_text %}
          <small>{{ form.email.help_text }}</small>
        {% endif %}
        {{ form.email.errors }}
      </div>
    </div>
    <div class="flex justify-center space-x-10">
      <button type="submit" class="w-60 h-14 mt-3 rounded-md bg-indigo-600
                                                      hover:bg-indigo-800 text-sm font-medium leading-10
                                                      text-white shadow-lg shadow-indigo-500/50">
        <span class="{{ button_icon }} text-2xl inline-block align-middle mr-1"></span> {{ button_title }}
      </button>
      <a href="{% url 'core:password' %}" class="mt-3 flex h-14 w-60 items-center justify-center rounded-md bg-indigo-600 text-sm font-medium leading-10 text-white shadow-lg shadow-indigo-500/50 hover:bg-indigo-800">
        <span class="bi bi-shield-lock text-2xl inline-block align-middle mr-1"></span> Alterar Senha
      </a>
    </div>
  </form>
{% endblock profileFormContent %}