{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  {% tailwind_css %}
</head>
<body class="bg-green-50">
  <div class="container max-auto p-4">
    <section class="flex items-center justify-center h-screen">
      <div class="bg-green-800 rounded-xl w-full max-w-3xl">
        <div class="py-16 px-4 text-center text-green-200">
          <h1 class="text-5xl">Hello this is a Tailwind CSS test!</h1>
          <h2 class="text-5xl animate-ping mt-5">❤</h2>
        </div>
      </div>
    </section>
  </div>
</body>
</html>