<footer class="flex flex-col space-y-5 md:space-y-0 md:flex-row py-10 items-center justify-between bg-neutral-800 px-24 text-white">
  <div class="text-xl font-medium">© 2022 All Rights Reserved.</div>
  <div class="flex space-x-10 text-4xl">
    <div>
      <a href="#">
        <i class="bi bi-instagram"></i>
      </a>
  </div>
    <div>
      <a href="#">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
    <div>
      <a href="#">
        <i class="bi bi-twitter"></i>
      </a>
    </div>
    <div>
      <a href="#">
        <i class="bi bi-facebook"></i>
      </a>
    </div>
  </div>
</footer>