<form action="{{ form_action }}" class="form-content" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form.errors %}
    <div class="form-content form-content-grid">
      <div class="form-group">
        <div class="message message-error">
          Há erro no preenchimento do formulário, por favor verifique os campos
          e tente novamente.
        </div>
      </div>
    </div>
  {% endif %}
  <div class="md:grid grid-cols-2 gap-3">
    {% for field in form %}
      <div class="{{ field.field.widget.attrs.class }}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }} {% if field.help_text %}
        <p>{{ field.help_text }}</p>
        {% endif %} {{ field.errors }}
      </div>
    {% endfor %}

  </div>
  <div class="flex justify-center">
    <button type="submit" class="w-60 h-14 mt-3 rounded-md bg-indigo-600 hover:bg-indigo-800 text-sm font-medium leading-10 text-white shadow-lg shadow-indigo-500/50">
      <span class="bi bi-check2 text-2xl inline-block align-middle mr-1"></span> {{ button_title }}
    </button>
  </div>
</form>
