<nav role="navigation" aria-label="pagination" class="h-12 flex items-center px-5 py-1 bg-white rounded">
  <a href="#" class="flex h-10 w-8 items-center justify-center rounded-l border border-gray-200 px-3 text-lg font-light hover:bg-gray-200">«</a>
  <a href="#" class="flex h-10 w-8 items-center justify-center border border-gray-200 px-3 text-lg font-light hover:bg-gray-200">1</a>
  <a href="#" class="flex h-10 w-8 items-center justify-center px-3 text-lg font-light bg-indigo-600 text-white hover:bg-indigo-500">2</a>
  <a href="#" class="flex h-10 w-8 items-center justify-center border border-gray-200 px-3 text-lg font-light hover:bg-gray-200">3</a>
  <a href="#" class="flex h-10 w-8 items-center justify-center border border-gray-200 px-3 text-lg font-light hover:bg-gray-200">4</a>
  <a href="#" class="flex h-10 w-8 items-center justify-center border border-gray-200 px-3 text-lg font-light hover:bg-gray-200">5</a>
  <a href="#" class="flex h-10 w-8 items-center justify-center rounded-r border border-gray-200 px-3 text-lg font-light hover:bg-gray-200">»</a>
</nav>
