{% extends 'global/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

  <div class="flex flex-col">
    <header class="absolute flex items-center justify-end inset-0 h-32">
      <div class="flex md:space-x-10 space-x-5 justify-end md:mr-20 sm:mr-10 mr-5">
        <a href="#" class="flex flex-col justify-center sm:visible invisible header-a transition hover:underline underline-offset-8 decoration-2 decoration-indigo-600 font-bold">
          QUEM SOMOS
        </button>
        <a href="#" class=" flex flex-col justify-center sm:visible invisible header-a transition hover:underline underline-offset-8 decoration-2 decoration-indigo-600 font-bold">
          NOSSOS NÚMEROS
        </button>
        <a href="#" class=" flex flex-col justify-center sm:visible invisible header-a transition hover:underline underline-offset-8 decoration-2 decoration-indigo-600 font-bold">
          CONTATO
        </a>
        <a href="#" class="transition flex flex-col justify-center cursor-auto w-40 h-16 
        header-a text-indigo-600 text-center lead hover:text-white
        border-solid border-2 border-indigo-600 rounded-full
        hover:bg-indigo-600 hover:shadow-lg hover:shadow-indigo-500/50
        ">
          <span class="inline-block align-baseline font-bold">LOGIN</span>
        </a>
      </div>
    </header>
    <main class="h-[178.75rem]">
      <!-- Cover -->
      <div class="h-96 md:h-[900px]">
        <div class="flex items-center justify-center h-full bg-[length:2459px] bg-no-repeat bg-center bg-fixed"
        style="background-image: url(/static/global/img/bg-pattern-light.svg);">
          <img class="min-w-0 px-10 object-cover" src="{% static 'global/img/logo.png' %}" alt="">
        </div>
      </div>
      <!-- End Cover -->
      <!-- Who we are -->
      <div class="flex flex-col">
        <div class="my-11 flex flex-col space-y-6">
          <div class="flex justify-center text-4xl sm:text-7xl font-semibold text-stone-700">Quem somos</div>
          <div class="flex justify-center">
            <div class="h-1 w-28 bg-indigo-600"></div>
          </div>
          <div class="flex justify-center text-center text-xl sm:text-3xl font-extralight text-stone-700">Lorem ipsum dolor sit amet, consectetur adipiscing</div>
        </div>
        <div class="flex flex-col lg:flex-row mt-5">
          <div class="flex justify-center lg:ml-14">
            <div class="flex h-96 w-96 justify-center rounded-2xl bg-cover bg-center bg-no-repeat" style="background-image: url('https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8')"></div>
          </div>
          <div class="mx-5 mt-10 sm:ml-14">
            <h2 class="text-xl font-bold sm:text-3xl">Lorem ipsum dolor sit amet</h2>
            <div class="mt-8 mr-16 indent-3 text-lg font-light sm:text-2xl">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porta praesent lobortis adipiscing feugiat et facilisi mauris sagittis. Accumsan nascetur ante ac leo massa eleifend id sed massa. Vitae nisi, facilisi orci mi et, neque quam ornare. Blandit nullam proin fames eros, lectus elementum volutpat. Parturient egestas tellus, a donec ut aliquam. Nunc non hendrerit enim libero vel fringilla eleifend vitae amet.</p>
              <p>Sed lorem eu tempus quis tellus cras. Cras diam sed erat fames nullam. Non pharetra egestas massa aenean viverra mi, nisi, sit. Id cras vitae, suscipit nisl enim.</p>
            </div>
          </div>
        </div>
      </div>      
      <!-- End Who we are -->
      <!-- Numbers -->
      <div class="grid gap-4 md:flex flex-col md:flex-row justify-center md:justify-evenly bg-cover bg-center bg-no-repeat bg-fixed py-20 my-11"
      style="background-image: url(/static/global/img/bg-pattern-polygon-luminary.svg);">
        <div class="h-56 w-56">
          <div class="h-56 grid grid-cols-1 content-evenly text-center">
            <p class="bi bi-people-fill text-white text-7xl"></p>
            <p class="text-5xl font-medium text-white">+500</p>
            <p class="text-2xl font-extralight text-white">Clientes Parceiros</p>
          </div>
        </div>
        <div class="h-56 w-56">
          <div class="h-56 grid grid-cols-1 content-evenly text-center">
            <p class="bi bi-bandaid text-white text-7xl"></p>
            <p class="text-5xl font-medium text-white">+12k</p>
            <p class="text-2xl font-extralight text-white whitespace-nowrap">Materiais Disponíveis</p>
          </div>
        </div>
        <div class="h-56 w-56">
          <div class="h-56 grid grid-cols-1 content-evenly text-center">
            <p class="bi bi-bookmark-star text-white text-7xl"></p>
            <p><span class="text-2xl text-white">+R$</span> <span class="text-5xl font-medium text-white"> 200k</span></p>
            <p class="text-2xl font-extralight text-white">Vendas Realizadas</p>
          </div>
        </div>
      </div>
      
      <!-- End Numbers -->
    </main>

    {% include 'global/partials/footer.html' %}
  </div>
  
{% endblock content %}