@tailwind base;
@tailwind components;
@tailwind utilities;
.header-a {
    @apply text-base font-medium;
}

.form-content input {
    width: 100%;
    border-radius: 4px;
    background-color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}