{% extends 'global/base.html' %}
{% load static %}

{% block title%}Minha Conta{%endblock title %}
{% block content %}
  <div class="flex bg-gray-50">
    {% include 'core/partials/menu/profile.html' %}
    <div class="flex min-h-screen w-full flex-col">
      {% include 'core/partials/header.html' %}
      <h1 class="p-3 text-2xl font-medium text-stone-700">Minha Conta</h1>
      <div class="flex flex-grow">
        <main class="grid w-full gap-4 px-3 md:grid-cols-3">
          <div
            class="flex flex-col items-center justify-center rounded-md bg-white p-5 md:justify-start"
          >
            {% if user.picture %}
              <img class="rounded-full p-1 shadow-xl w-52 h-52" src="{{ user.picture.url }}" />
            {% else %}
              <div class="
                          rounded-full
                          p-1
                          shadow-xl
                          w-52 h-52 bg-indigo-500 text-white 
                          flex justify-center items-center text-7xl">
                  {{ user.first_letter_first_name }}{{ user.first_letter_last_name }}
              </div>
            {% endif %}
            <div class="pt-2">{{ user.get_full_name }}</div>
            <div>Perfil</div>
          </div>
          <div class="rounded-md bg-white p-5 md:col-span-2">
            <div class="flex flex-col gap-3">
              <div class="flex h-11 items-center justify-center rounded-md bg-indigo-500 text-white">
                Informações Pessoas
              </div>
              <!-- Flash Message -->
              {% if messages %}
                {% for message in messages %}
                  <div class="mt-3 {{ message.tags }}">
                    <i class="bi bi-check-lg"></i> {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
              <form id="{{ form_id }}" action="{{ form_action }}" class="form-content" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.errors %}
                  <div class="form-content form-content-grid">
                    <div class="form-group">
                      <div class="message message-error">
                        Há erro no preenchimento do formulário, por favor verifique os campos
                        e tente novamente.
                      </div>
                    </div> 
                  </div>
                {% endif %}
                <div class="md:grid grid-cols-2 gap-3">
                  <!-- Picture Field -->
                  <div class="col-span-2">
                    <label for="{{ form.picture.id_for_label }}">{{ form.picture.label }}</label>
                    {{ form.picture }}
                    {% if form.picture.help_text %}
                      <p>{{ form.picture.help_text }}</p>
                    {% endif %}
                    {{ form.picture.errors }}
                  </div>
                  <!-- First Name Field -->
                  <div class="">
                    <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                    {{ form.first_name }}
                    {% if form.first_name.help_text %}
                      <p>{{ form.first_name.help_text }}</p>
                    {% endif %}
                    {{ form.first_name.errors }}
                  </div>
                  <!-- Last Name Field -->
                  <div class="">
                    <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                    {{ form.last_name }}
                    {% if form.last_name.help_text %}
                      <p>{{ form.last_name.help_text }}</p>
                    {% endif %}
                    {{ form.last_name.errors }}
                  </div>
                  <!-- Mail Field -->
                  <div class="col-span-2">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email }}
                    {% if form.email.help_text %}
                      <small>{{ form.email.help_text }}</small>
                    {% endif %}
                    {{ form.email.errors }}
                  </div>
                </div>
                <div class="flex justify-center space-x-10">
                  <button type="submit" class="w-60 h-14 mt-3 rounded-md bg-indigo-600
                                                                  hover:bg-indigo-800 text-sm font-medium leading-10
                                                                  text-white shadow-lg shadow-indigo-500/50">
                    <span class="{{ button_icon }} text-2xl inline-block align-middle mr-1"></span> {{ button_title }}
                  </button>
                  <a href="{% url 'core:profile_change_pass' user.pk %}" class="mt-3 flex h-14 w-60 items-center justify-center rounded-md bg-indigo-600 text-sm font-medium leading-10 text-white shadow-lg shadow-indigo-500/50 hover:bg-indigo-800">
                    <span class="bi bi-shield-lock text-2xl inline-block align-middle mr-1"></span> Alterar Senha
                  </a>
                </div>
              </form>
            </div>
          </div>
        </main>
      </div>
      {% include 'core/partials/footer.html' %}
    </div>
  </div>
{% include 'core/partials/scripts.html' %} {% endblock content %}
